<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="SysInternalsListener" type="Sysinternals.Debug.ProcessMonitorTraceListener, Sysinternals.Debug"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
