<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="SysInternalsListener" type="Sysinternals.Debug.ProcessMonitorTraceListener, Sysinternals.Debug"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <log4net>
    <appender name="ProcMon" type="Sysinternals.log4net.ProcMonAppender, Sysinternals.log4net">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %message" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="ProcMon" />
    </root>
  </log4net>

</configuration>
